body {
    background-color: gray;
}

.imagetext {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background: url(./galaxy.jpg);
    
    }
    .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    }
    